
<div class="container h-100">
  <div class="position-absolute float-end">
    <button routerLink="/cadastrar-profissional" class="btn btn-success fw-bold mt-3">Área do Profissional da Saúde</button>
  </div>
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="title d-flex justify-content-center links">
        Olá Paciente, seja bem vindo(a)!
      </div>
      <div class="d-flex justify-content-center form_container">
        <form [formGroup]="form">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input formControlName="username" type="text" class="form-control input_user" value="" placeholder="username">
            <span class="invalid" *ngIf="form.controls.password.invalid && form.controls.password.touched">
            Campo obrigatório
            </span>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" class="form-control input_pass" value="" placeholder="password">
            <span class="invalid" *ngIf="form.controls.password.invalid && form.controls.password.touched">
            Campo obrigatório
            </span>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="button" name="button" (click)="login()" class="btn login_btn">Login</button>
          </div>
        </form>
      </div>
      <div class="mt-4">
        <div class="bottom-text d-flex justify-content-center links">
          Você não possui uma conta ? <a routerLink="/cadastrar-paciente" class="ms-2">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>
